@keyframes show {
  50% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes loading {
  100% {
    transform: translateX(-250%);
  }
}
.btn {
  background: #ffc400;
  padding: 2%;
  outline: none;
  border: none;
  border-radius: 8px;
  width: 100px;
  cursor: pointer;
  transition: 300ms;
}
@media (max-width: 700px) {
  .btn {
    padding: 5%;
  }
}

.btn:hover {
  transform: translateY(-5px);
}

@keyframes showing {
  100% {
    transform: initial;
    opacity: initial;
  }
}
#modal {
  position: fixed;
  top: -60px;
  left: 0;
  z-index: 20;
  width: min(100vw, 100%);
  height: calc(min(100%, 100vh) + 100px);
  background: rgba(0, 0, 0, 0.27);
  display: grid;
  place-items: center;
  opacity: 0;
  animation: show-post 200ms forwards;
}

#post {
  width: max(50%, 900px);
  height: 50%;
  animation: show-post 200ms forwards;
  transform: scale(0.9);
  opacity: 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
@media (max-width: 700px) {
  #post {
    width: calc(100% - 15px);
    height: 550px;
  }
}
#post picture {
  height: 100%;
}
@media (max-width: 700px) {
  #post {
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto;
  }
  #post picture {
    height: 200px;
  }
}
#post #post_body {
  background: white;
  display: flex;
  padding: 8%;
  align-items: center;
  flex-direction: column;
  justify-content: start;
}
#post #post_body #post_dados_postagem {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#post #post_body #post_dados_postagem #post_autor:before {
  content: "@";
}
#post #post_body #post_dados_postagem #btn_close {
  margin-left: 10px;
  cursor: pointer;
  transition: 300ms;
}
#post #post_body #post_dados_postagem #btn_close:hover {
  color: #ffc400;
}
#post #post_body #post_animal_dados {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 8%;
}
#post #post_body #post_animal_dados h1 {
  width: 100%;
  font-family: "Cardo", serif;
  font-size: 3rem;
  margin-block: 10px;
  position: relative;
  z-index: 2;
}
#post #post_body #post_animal_dados h1:before {
  position: absolute;
  content: "";
  left: -0.5rem;
  bottom: 0.5rem;
  width: 70px;
  height: 20px;
  z-index: -1;
  background: #ffc400;
  border-radius: 3px;
}
#post #post_body #post_animal_dados #espacador {
  margin-inline: 5%;
}
#post #post_body #container_comentarios {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
@media (max-width: 700px) {
  #post #post_body #container_comentarios {
    height: 100px;
  }
}
#post #post_body #container_comentarios p {
  margin-bottom: 3%;
  opacity: 0;
  animation: show-shadow-post 500ms 500ms forwards;
}
#post #post_body #container_comentarios p .autor_comentario {
  font-weight: bolder;
}
#post #post_body #container_input {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 5%;
}
#post #post_body #container_input #btn_submit {
  width: 25%;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
#post #post_body #container_input #btn_submit svg, #post #post_body #container_input #btn_submit g {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
#post #post_body #container_input textarea {
  width: 80%;
  outline: none;
  padding: 5%;
  border-radius: 8px;
  background: #F0F0F0;
  border: none;
  resize: none;
}

@keyframes show-post {
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes show-shadow-post {
  100% {
    opacity: 1;
  }
}
.loading-comment {
  animation: loading_comment 1000ms infinite;
}

@keyframes loading_comment {
  50% {
    transform: scale(1.02);
    fill: #ffc400;
  }
}

/*# sourceMappingURL=modalPostagem.css.map */
