@use '../../partials/_config' as *;
#modal{
  position: fixed;
  top: -60px;
  left: 0;
  z-index: 20;
  width: min(100vw, 100%);
  height: calc( min(100%, 100vh) + 100px);
  background: rgba(0, 0, 0, 0.27);
  display: grid;
  place-items: center;
  opacity: 0;
  animation: show-post 200ms forwards;
}

#post{
  width: max(50%, 900px);
  height: 50%;
  animation: show-post 200ms forwards;
  transform: scale(.9);
  opacity: 0;
  display: grid;
  grid-template-columns: 2fr 1fr;

  @media (max-width: 700px) {
    width: calc(100% - 15px);
    height: 550px;
  }


  picture{
    height: 100%;
  }
  @media (max-width: 700px) {
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto;

    picture{
      height: 200px;
    }
  }

  #post_body{
    background: white;
    display: flex;
    padding: $esp-g;
    align-items: center;
    flex-direction: column;
    justify-content: start;

    #post_dados_postagem{
      display: flex;
      justify-content: space-between;
      width: 100%;


      #post_autor:before{
        content: '@';
      }

      #btn_close{
        margin-left: 10px;
        cursor: pointer;
        transition: 300ms;
      }

      #btn_close:hover{
        color: $cor-1;
      }
    }

    #post_animal_dados{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: $esp-g;

      h1{
        width: 100%;
        font-family: $fonte-1;
        font-size: $font-tamanho-g;
        margin-block: 10px;
        position: relative;
        z-index: 2;
      }

      h1:before{
        @include detalhe_amarelo();
      }

      #espacador{
        margin-inline: $esp-m;
      }
    }

    #container_comentarios{
      width: 100%;
      height: 100%;
      overflow-y: scroll;

      @media (max-width: 700px) {
        height: 100px;
      }

      p{
        margin-bottom: $esp-p;
        opacity: 0;
        animation: show-shadow-post 500ms 500ms forwards ;

        .autor_comentario{
          font-weight: bolder;
        }
      }
    }

    #container_input{
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: $esp-m;

      #btn_submit{
        width: 25%;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;

        svg, g{
          width: 50px;
          height: 50px;
          object-fit: cover;
        }
      }

      //#btn_submit:disabled{
      //}

      textarea{
        width: 80%;
        outline: none;
        padding: $esp-m;
        border-radius: 8px;
        background: $cor-3;
        border: none;
        resize: none;
      }
    }
  }
}

@keyframes show-post {
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes show-shadow-post {
  100%{
    opacity: 1;
  }
}

.loading-comment{
  animation: loading_comment 1000ms infinite;
}

@keyframes loading_comment {
  50%{
    transform: scale(1.02);
    fill: $cor-1;
  }
}
