@use '../../partials/_config' as *;

#container_home{
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (max-width: 700px) {
    min-height: calc(230px * 3);
  }

  article{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(3, 1fr) ;
    gap: 1rem;
    margin-bottom: 1rem;

    @media (max-width: 700px) {
      grid-template-columns: repeat(2, 1fr) ;
      grid-template-rows: initial;
      grid-auto-rows: 200px;
    }

    picture:nth-child(1){
      grid-column: 2/4;
      grid-row: 1/3;

      @media (max-width: 700px) {
        grid-column: initial;
        grid-row: initial;
      }
    }

    picture{
      position: relative;
      overflow: hidden;
      border-radius: 8px;

      p{
        position: absolute;
        z-index: 2;
        top: 110%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 100ms 200ms;
      }
    }

    picture:before{
      opacity: 0;
      z-index: 1;
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.1);
      transition: 100ms;
        cursor: pointer;
    }

    picture:hover:before{
      opacity: 1;
    }

    picture:hover p{
      top: 50%;
    }
  }
}