@use '../../../partials/_config' as *;
#preview{
  margin-top: $esp-m;

  h2{
    margin-bottom: $esp-p;
    font-size: $font-tamanho-m;
    font-family: $fonte-1;
    font-style: italic;
  }

  picture{
    overflow: hidden;
    border-radius: 15px;
    width: 200px;
    height: 200px;
  }
}